.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.app__main {
  margin: 80px 0px;
}

.footer {
  width: 100%;
  top: 100;
  bottom: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #444;
  color: #fff;
  word-spacing: 5px;
}

.footer p > a {
  color: #00ffff;
  text-decoration: none;
  z-index: 99;
}