.array {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
}

.array__form {
     margin: 10px 0px;
     display: flex;
     width: 500px;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
}

.array__form > TextField {
     width: 100%;
}

.form__data-field {
     width: 200px;
}
.form__index-field {
     width: 150px;
}