.array {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     margin: 10px 0px
}

.array > h2 {
     color: #777;
}

.visualization > h2 {
     text-align: center;
     color: #777;
}

.array__nodes {
     display: flex;
     flex-wrap: wrap;
     justify-content: left;
     align-items: left;
     margin: 20px;
}

.array__form {
     margin: 10px 0px;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.message {
     height: 50px;
}

.array__form > TextField {
     width: 100%;
}

.form__data-field {
     width: 200px;
}
.form__index-field {
     width: 150px;
}